.information-box {
    max-width: 400px;
}
.information-box h2 {
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    line-height: 1.6;
    font-weight: bold;
    color: #3350a0;
}
.information-box p {
    margin-bottom: 15px;
    color: #000;
}
.info-name {
    color: #f00;
    font-weight: bold;
}
.info-ms {
    color: #419966;
    font-size: 28px;
}
.info-class {
    color: #f00;
    font-size: 30px;
}
.information-box p a {
    text-decoration: underline;
    color: #3350a0;
}